* {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
}


#lookup-box{

    background: #f0f8ff;
    padding: 5px;
}

#datasquare-list {

    border: 2px dashed black;
    background: #d8edff;
    overflow-y: scroll;
    margin: 5px;
    max-height: 80vh;
    scroll-behavior: smooth;
}

.datasquare {

    height: 20px;
    padding: 10px;
    cursor: default;
    font-weight: normal;
    border-bottom: 1px inset aliceblue;
}

.datasquare:hover {

    animation: growButton .4s alternate infinite;
    font-weight: bolder;
}


#success-notice-bar {

    background: red;
    width: 50%;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 10px auto;
    position: absolute;
    top: 3%;
    left: 40%;
}


h1 {

    font-size: 24px;
    background: #1f1f1f;
    color: white;
    padding: 15px;
    text-align: center;
}


.copywrite {

    font-size: 12px;
    text-align: center;
    margin: 20px;
}

#searchbar, input {

    text-align: center;
}

#mode-toggle {

    position: absolute;
    background-color: aliceblue;
    border: 5px inset black;
    padding: 0 10px;
    right: 0;
    margin: 5%;
}

#user-icon {

    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 50px;
    border: 5px black inset;
    margin: 20px;
    width: 50px;
    height: 50px;
}

#mode-toggle:hover  {

    background-color: #2f2f2f;
    color: aliceblue;
    border: 5px aliceblue outset;
}


@keyframes growButton {
    100% {

        background: #f3f9ff;
        padding: 10px 25px;
    }
}

